/* App.css */

.container {
  list-style-type: none; /* Remove default bullet points */
  padding: 0; /* Optional: Remove default padding */
}

.box-list {
  list-style-type: none; /* Remove default bullet points */
  padding: 0; /* Optional: Remove default padding */
}


body {
  font-family: 'Arial', sans-serif; /* Use a standard sans-serif font */
  background-color: #f2f2f2; /* Light gray background for the entire page */
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #343a40; /* Dark background for the navbar */
}

.navbar-brand {
  color: #ffffff; /* White text color for the navbar brand */
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: #ffffff; /* White text color for navbar links */
  margin-right: 10px; /* Add a bit of space between navbar links */
}

.navbar-nav .nav-link:hover {
  text-decoration: underline; /* Underline effect on hover */
}

.container {
  margin-top: 20px; /* Margin on top of the container */
}

.active-link {
  font-weight: bold; /* Bold font for active navigation links */
}

.active-link::after {
  content: ''; /* Create a pseudo-element for active link indicator */
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width 0.3s;
}

.active-link:hover::after {
  width: 100%; /* Expand underline on hover */
}

/* App.css */

/* Global styles */
body {
  background-color: #f5f5f5; /* Light gray background */
  color: #333; /* Dark text color */
  font-family: Arial, sans-serif; /* Default font */
}

.navbar {
  background-color: #343a40; /* Dark background for navbar */
}

.nav-link {
  color: #fff; /* White color for navbar links */
}

.active-link {
  font-weight: bold; /* Bold font for active link */
}

.main-content {
  padding-top: 20px; /* Top padding for main content */
}

.footer {
  background-color: #343a40; /* Dark background for footer */
  color: #fff; /* White text color */
  padding: 20px 0; /* Padding top and bottom */
  text-align: center; /* Center-align text */
}

.footer p {
  margin: 0; /* Remove default margin for paragraph */
}

